body{
    background: white;
}




  .circular-image {
    border-radius: 50%;
    width: 250px; /* Set the width and height of the image */
    height: 250px;
    overflow: hidden; /* Optional: Hides any content that extends beyond the border-radius */
    
  }