<!-- your html code here -->

<div class="container bg-light">
  <div class="row">
    <div class="col-1"></div>
    <div class="contact col-10">
        <h1>Contact</h1>
        <P>This is the comment inside of the contact
          This is the comment inside of the contac                This is the comment inside of the contact                 This is the comment inside of the contact
          This is the comment inside of the contact</P>
    </div>
    <div class="col-1">
    </div>
  </div>
    <div class="container bg-secondary">
      <div class="row" style="height: 400px; background-color: rgb(221, 221, 221);">
        <div class="col-2 bg-light"></div>
        <div class="col-2 mt-3">
          <label for="email" class=" d-flex justify-content-end fw-bold form-label">Your E-mail</label>
          <label for="message" class="d-flex justify-content-end fw-bold form-label" style="padding-top: 30px;">Your Message</label>
        </div>
        <div class="col-5 mt-3">
          <div class="mb-3 row">
                   <input type="email" class="form-control" placeholder="Your email" id="email" aria-describedby="emailHelp" style="width: 525px;">
                 </div>
                 <div class="mb-3 row">
                   <textarea type="text" class="form-control" placeholder="Please enter your message here..." id="message" rows="3" cols="4" style="height: 255px; width: 525px;"></textarea>
                 </div>
                 <button type="submit" class="btn btn-primary float-end">Submit</button>
         </div>
         <div class="col-1 bg-light"></div>
         <div class="col-2 bg-light"></div>
       </div>
    </div> 
    <div class="row">
      <div class="col" style="height: 45px;"></div>
    </div>    

</div>