<!-- your html code here -->

<div class="container">
  <div class="row">

    <div class="col-2"></div>
       
            <div class="card mb-3" style="max-width: 800px; max-height:700px;">
                <div class="mt-4 mb-4">
                  <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">The First Heading<small class="text-muted"> Will Catch Your Eye</small></h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate vel quibusdam molestiae voluptatem nobis, quidem corrupti in accusamus necessitatibus itaque, consectetur pariatur quas? Sint voluptatem, deserunt atque molestiae cupiditate cum!
              </p>
              
            </div>
          </div>
          <div class="col-md-4">
            <img src="https://3.bp.blogspot.com/-QGOJQYC6M7c/UiDgyQq7bKI/AAAAAAAAAZE/hL3IKM3vZV0/s1600/Walter-White_Heisenberg_Final.jpg. alt="Circular Image class="img-fluid circular-image" >
          </div>
          
                  </div>
                </div>
            </div>
        
    <div class="col-2"></div>
  </div>
  
</div>
