
<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
    <form class="container-fluid justify-content-start">
        <button class="btn btn-outline-secondary me-2 border-0 fw-bold" type="button">Start Bootstrap</button>
        <button class="btn btn-sm btn-outline-secondary border-0 fw-bold" type="button">About</button>
        <button class="btn btn-sm btn-outline-secondary border-0 fw-bold" type="button">Services</button>
        <button class="btn btn-sm btn-outline-secondary border-0 fw-bold" type="button">Portfolio</button>
        <button class="btn btn-sm btn-outline-secondary border-0 fw-bold" type="button">Contact</button>
    </form>
  </nav>
