<!-- your html code here -->
<div class="container-fluid" style="background-color: white;">

  <div class="row">

    <div class="col-1"></div>
    <div class="col-10">
      <h1>Porfolio</h1>

      <div class="row2" style="width: 1400px;">
        <p>Donec ullamorper nulla non metus auctor fringilla. Vestibulumid ligula porta felis euismod semper. Praesent
          commodo cursus magna, vel scelerisque nisl consectetur.
          Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>

      <div class="row3">

        <div class="card-group" style="width: 1400px; margin-left: -20px; margin-top: -10px;">

          <div class="card" style="padding: 20px; border: white;">
            <img
              src="https://anthim.com/assets/images/general/700x400.gif"
              class="card-img-top" alt="..." width="700" height="400">
            <div class="card-body">
              <h5 class="card-title text-primary">Project Name</h5>
              <p class="card-text">Lorem ipssum dolor sit amet, consectetur adipiscing elit. Name viverra euismod odio,
                gravida pellentesque urna varius vitae.</p>

            </div>
          </div>

          <div class="card" style="padding: 20px; border: white;">
            <img
              src="https://anthim.com/assets/images/general/700x400.gif"
              class="card-img-top" alt="..." width="700" height="400">
            <div class="card-body">
              <h5 class="card-title text-primary">Project Name</h5>
              <p class="card-text">Lorem ipssum dolor sit amet, consectetur adipiscing elit. Name viverra euismod odio,
                gravida pellentesque urna varius vitae.</p>
            </div>
          </div>

          <div class="card" style="padding: 20px; border: white;">
            <img
              src="https://anthim.com/assets/images/general/700x400.gif"
              class="card-img-top" alt="..." width="700" height="400">
            <div class="card-body">
              <h5 class="card-title text-primary">Project Name</h5>
              <p class="card-text">Lorem ipssum dolor sit amet, consectetur adipiscing elit. Name viverra euismod odio,
                gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
//div 